<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Revise</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .container {
        display: flex;
        flex-direction: row;
        width: 100vw;
      }
      .filters {
      }
      .lemmas {
      }
      .dictionary {
        background: pink;
      }
      .sentences {
        background: green;
      }
    </style>
  </head>
  <body>
    <div class="flex h-screen w-screen">
      <div class="flex-auto overflow-y-scroll">
        <div class="filters">
          <!-- Filter values should just be passed on the command line. -->
        </div>
        <div class="lemmas">
          <table class="table-fixed">
            <tr>
              <th>Word</th>
              <th>Frequency</th>
              <th>PoR</th>
              <th>Actions</th>
            </tr>
            {{ range .Lemmas }}
            <tr data-lemma="{{ .Lemma }}" data-url='{{ .URL }}' class="hover:bg-gray-100 lemma">
              <td>{{ .Lemma }}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {{ end }}
          </table>
        </div>
      </div>
      <div class="flex-auto flex flex-col">
           <iframe class="flex-auto overflow-y-scroll" src="https://www.example.com" title="W3Schools Free Online Web Tutorials"></iframe>
      </div>
    </div>
    <script>
      const lemmas = document.querySelectorAll('.lemma');
      lemmas.forEach(lemma => {
        lemma.addEventListener('click', () => {
          const url = "/proxy?url="  + lemma.dataset.url;
          const iframe = document.querySelector('iframe');
          iframe.src = url;
        });
      });
    </script>
  </body>
</html>
