<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>

    <style>
        a { text-decoration: none; }
        i { padding: 0.2em; }
        ul { list-style: none; }
        body { padding: 1em 2em; }
        th {
            text-align: left;
            padding: 0.5em 1em;
        }
    </style>
</head>

<body>Hello world</body>

</html>
